// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

.container {
    width: $size__container;
    max-width: 100%;
    margin: 0 auto;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Hero
--------------------------------------------------------------*/
@import "primary/hero";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
