// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

html,
body {
    height: 100%;
    min-height: 100%;
}

.site {
    position: relative;
    overflow: hidden;
}

.container {
    width: $size__container;
    max-width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 80em) {
    .container {
        padding: 0 .75em;
    }
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/footer";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Hero
--------------------------------------------------------------*/
@import "primary/hero";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";