.gform_wrapper {
    margin: 0 0 1.5em;
}

ul.gform_fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -( $gl-gutter / 2 );
    margin-left: -( $gl-gutter / 2 );
    margin-right: -( $gl-gutter / 2 );
    list-style: none;
    padding: 0;

    &.top_label .gfield_label {
        margin-bottom: .5em;
    }

    &.bottom_label .gfield_label {
        margin-top: .5em;
    }
}

li.gfield {
    flex: 1 0 auto;
    margin: 0;
    width: 100%;
    max-width: 100%;
    padding: ( $gl-gutter / 2 );
    position: relative;

    &:not(:last-child) {
        margin: 0 0 .5em;
    }

    &.gform_validation_container {
        display: none !important;
    }

    @include bp('sm') {
        &.gf_left_half,
        &.gf_right_half {
            width: 50%;
            max-width: 50% !important;
        }
    }
}

.gsection_title {
    @extend h3;
    margin: 0;

    & + .gsection_description {
        margin: .5em 0 0;
    }
}

.ginput_container {
    ul {
        list-style: none;
        padding: 0;
        margin: -.25em 0;
    }

    li {
        margin: .25em 0;
    }

    .gfield_error > & > * {
        border-color: $color__message-error !important;
    }
}

label.gfield_label {
    font-weight: 700;
    display: inline-block;

    .hidden_label & {
        display: none;
    }

    .gfield_error & {
        color: $color__message-error;
    }
}

.validation_message {
    color: $color__message-error;
    padding: .25em 0;
}

.ginput_complex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -.5rem;
    width: auto;

    & > span {
        flex: 1 0 auto;
        padding: 0 .5rem;
        width: auto;
        display: block;
        margin: 0;

        &.ginput_full {
            flex: 1 1 100%;
        }

        &.ginput_left,
        &.ginput_right {
            flex: 1 1 50%;
        }
    }
}

.gform_fileupload_multifile .gform_drop_area {
    border: 4px dashed $color__border-input;
    padding: 1em;
    text-align: center;
    border-radius: 0;

    input.button.gform_button_select_files {
        padding: $size__button-padding !important;
    }
}

form.inline {
    display: flex !important;
    flex-wrap: wrap;

    .gform_heading {
        flex: 0 0 100%;
    }

    .gform_body {
        flex: 1 0 auto;
        width: auto;
        margin: 0;
    }

    .gform_footer {
        flex: 0;
        width: auto;
        margin: 0;
        padding: 0 0 0 $gl-gutter;
    }
}
