$color__primary: #262c41;
$color__secondary: #ed1c24;
$color__tertiary: #3782e7;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hero: #222222;
$color__background-hr: #ccc;
$color__background-button: #222222;
$color__background-button-hover: #000000;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #222222;
$color__text-input-focus: #111;
$color__link: #222222 !default;
$color__link-hover: #222222;
$color__text-main: #222222;
$color__button: #ffffff;
$color__button-hover: #ffffff;

$color__border-input: #ccc;
$color__border-light: #e5e5e5;
$color__border-abbr: #666;

$color__message: #ffffff;
$color__message-success: #65D1A2;
$color__message-error: $color__secondary;
$color__message-notice: #80bfdc;

$gradient_primary: linear-gradient(to bottom, rgba(247,247,247,0) 0%,rgba(247,247,247,1) 100%);

.color--primary {
    color: $color__primary;
}

.color--secondary {
    color: $color__secondary;
}

.color--success {
    color: $color__message-success;
}

.color--error {
    color: $color__message-error;
}

.gradient--primary {
    background: $gradient_primary;
}