$size__container: 80em;

$gl-gutter: 1rem !default;

$gl-mq-list: (
  lg: "screen and (max-width: 80em)",
  md: "screen and (max-width: 64em)",
  sm: "screen and (max-width: 48em)",
  xs: "screen and (max-width: 36em)"
) !default;