.main-navigation {
	display: block;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		@include font-size(1);
		position: relative;

		&:hover > a,
		&.focus > a {
        }

        &.button a {
            padding-top: 0;
            padding-bottom: 0;
        }
	}

	a {
        color: inherit;
        @include font-size( .75 );
        letter-spacing: 2.5px;
        text-transform: uppercase;
		display: block;
        padding: 1em .5em;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
    }

    ul.menu {
        color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        max-width: 300px;
        z-index: 30000;
        background: #262c41;
        padding: 1.5em;
        transform: translate3d( -100%,0, 0 );
        transition: all ease .25s;

        @include bp('sm') {
            color: inherit;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: static;
            top: auto;
            left: auto;
            bottom: auto;
            width: auto;
            max-width: auto;
            z-index: initial;
            background: none;
            padding: 0;
            margin: 0 -1em;
            transform: none;
            transition: none;
            justify-content: flex-end;

			& > li {
				padding: 0 1em;
            }
            
            a {
                padding: .5em;
            }
        }
    }

    &.toggled ul.menu {
        transform: translate3d( 0, 0, 0 );
    }
}

button.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

button.menu-toggle {
    &,
    &:hover,
    &:focus,
    &:active {
        background: none;
        padding: .5em;
        margin: 0;
        height: auto;
        line-height: 1;
        width: auto;
    }

    @include bp('sm') {
        display: none;
    }
}
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
